<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Combined modules"  configfailurepolicy="continue" thread-count ="1">
  <test name="QuickTest">
    <classes>
      <class name="com.weightwatchers.testcases.SamplePageTest"/>
    </classes>
  </test>
</suite>
